# Core dependencies
streamlit
gradio
openai
mem0ai
qdrant-client
python-dotenv

# Data validation
pydantic>=2.0.0
pydantic-settings>=2.0.0
phonenumbers

# Development dependencies
pytest
allure-pytest
pytest-asyncio

annotated-types
anyio
certifi
charset-normalizer
distro
elevenlabs
h11
httpcore
httpx
idna
jiter
pillow
pydantic-core
requests
sniffio
tqdm
typing-extensions
typing-inspection
urllib3
websockets

# Supabase dependencies
supabase
psycopg2-binary
vecs

# FastAPI
fastapi
uvicorn[standard]
